.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.chatBox {
    margin-left: 70%;
    text-align: right !important;
    color: white;
    background-color: #00acee;
}

.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}